body{
	text-align: center;
	background-color: rgba(100, 255, 255, 1);
	background-image: url(../../../eye.jpg);
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-position: left bottom;
	background-size: 300px 300px;
}

#heading_1{
	color: red;
}

#heading_2{
	color: yellow;
	background-color: blue;
}

#para_1{
	color: brown;
}

#para_2{
	color: green;
	background-color: blue;
}

.block{
	border: 1px solid red;
}

